
<div class="row vcenter">
  <div class="col-sm-6">
    <section class="panel panel-primary">
      <header class="panel-heading font-bold">Welcome</header>
      <div class="panel-body">
        <p>We know you work hard for your money, spending it should be much easier. With so many options out there let us filter out the unreputable ones and help you figure out who has the best deals. We index prices from a variety of reputable vendors weekly so you can quickly see who has the cigars you want in stock and how much everyone is charging.</p>
      </div>
    </section>
  </div>


  <div class="col-md-3 col-sm-6">
    <div class="panel b-a">
      <div class="panel-heading no-border bg-primary lt text-center">
        <a href="#">
          <i class="fa fa-facebook fa fa-3x m-t m-b text-white"></i>
        </a>
      </div>
      <div class="padder-v text-center clearfix">
        <div class="col-xs-6 b-r">
          <div class="h3 font-bold">42k</div>
          <small class="text-muted">Friends</small>
        </div>
        <div class="col-xs-6">
          <div class="h3 font-bold">90</div>
          <small class="text-muted">Feeds</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel b-a">
      <div class="panel-heading no-border bg-info lter text-center">
        <a href="#">
          <i class="fa fa-twitter fa fa-3x m-t m-b text-white"></i>
        </a>
      </div>
      <div class="padder-v text-center clearfix">
        <div class="col-xs-6 b-r">
          <div class="h3 font-bold">27k</div>
          <small class="text-muted">Tweets</small>
        </div>
        <div class="col-xs-6">
          <div class="h3 font-bold">15k</div>
          <small class="text-muted">Followers</small>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
	<div class="col-sm-6">
	    <section class="panel panel-primary humidiopanel" id="humidio1" data-uuid="ee49ef39-23ee-4449-bebb-8b84b58663f6">
	      <header class="panel-heading font-bold"><h3 class="panel-title"><i class="humidio-logo"></i> Zero Travel Humidor</h3></header>
	      <div class="panel-body">
		     <div class="row">
			    <div class="col-md-6">
				  <h1 class="text-center"><i class="wi wi-humidity wi-fw text-warning"></i> <span class="humidity"></span>%</h1>
				</div>
			    <div class="col-md-6">
			      <h1 class="text-center"><i class="wi wi-thermometer wi-fw text-success"></i> <span class="temperature"></span><i class="wi wi-fahrenheit"></i></h1>
			    </div>
			  </div>
		  </div>
			<div class="panel-footer">
			  <div class="row">
			    <div class="col-md-2">
				  <a class="btn btn-default" href="http://www.mytaglist.com/eth/tempStats.html?ee49ef39-23ee-4449-bebb-8b84b58663f6&HUMIDio-zero" role="button">
				  	<i class="i i-graph"></i>
				  </a>
				</div>
				<div class="col-md-10 text-right">
				    Updated <span class="timeago"></span>  <!--<a id="update1" class="btn btn-default" href="#" role="button">
						<i class="fa fa-refresh" aria-hidden="true"></i>
					</a>-->
				</div>
			  </div>
			</div>
	    </section>
	  </div>

	<div class="col-sm-6">
	    <section class="panel panel-primary humidiopanel" id="humidio2" data-uuid="cd2a48db-1057-4a06-b6e9-c77b5c2d025e">
	      <header class="panel-heading font-bold"><h3 class="panel-title"> <i class="humidio-logo"></i> Vinotemp 1</h3></header>
	      <div class="panel-body">
		         <div class="row">
				    <div class="col-md-6">
					  <h1 class="text-center"><i class="wi wi-humidity wi-fw text-success"></i> <span class="humidity"></span>%</h1>
					</div>
				    <div class="col-md-6">
				      <h1 class="text-center"><i class="wi wi-thermometer wi-fw text-danger"></i> <span class="temperature"></span><i class="wi wi-fahrenheit"></i></h1>
				    </div>
				  </div>
			  </div>
			<div class="panel-footer">
			  <div class="row">
			    <div class="col-md-3">
				  <a class="btn btn-default" href="http://www.mytaglist.com/eth/tempStats.html?cd2a48db-1057-4a06-b6e9-c77b5c2d025e&HUMIDio-B" role="button">
				  	<i class="i i-graph"></i>
				  </a>
				</div>
				<div class="col-md-9 text-right">
				    Updated <span class="timeago"></span>  <!--<a id="update2" class="btn btn-default" href="#" role="button">
						<i class="fa fa-refresh" aria-hidden="true"></i>
					</a>-->
				</div>
			  </div>
		  </div>
	    </section>
	  </div>

</div>
