<div class="m-b-md">
   <h3 class="m-b-none">All Vendors</h3>
</div>
<section class="panel panel-primary">
   <header class="panel-heading">
      Compare Prices
      <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
   </header>
   <div class="table-responsive">
      <table id="vendorsajax" class="table m-b-none" data-ride="datatables" cellspacing="0" width="98%" data-ajax="../prices.json">
         <thead>
            <tr>
               <th rowspan="2"><i class="vs vs-smoking-alt"></i></th>
               <th rowspan="2">Box Type</th>
               <th rowspan="2">Length</th>
               <th rowspan="2">Ring Gauge</th>
               <th rowspan="2">Count</th>
               <th colspan="2">Cigars of Habanos</th>
               <th colspan="2">iHavana</th>
               <th colspan="2">Stagnetto</th>
            </tr>
            <tr>
               <th>Price</th>
               <th><i class="fa fa-usd"></i>/<i class="vs vs-smoking-alt"></i></th>
               <th>Price</th>
               <th><i class="fa fa-usd"></i>/<i class="vs vs-smoking-alt"></i></th>
               <th>Price</th>
               <th><i class="fa fa-usd"></i>/<i class="vs vs-smoking-alt"></i></th>
            </tr>
         </thead>
      </table>
   </div>
</section>
